{% extends "base.html" %}

{% block content %}

    <h1 class="text-center mb-4">Iniciar sesión</h1>
    <form method="post" action="{{ url_for('auth.login') }}">
        <div class="form-group">
            <label for="nameUser">Username</label>
            <input type="text" name="nameUser" id="nameUser" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="passwordUser">Password</label>
            <input type="password" name="passwordUser" id="passwordUser" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

{% endblock %}
